<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crucigrama</title>
    <link
      href="../../bootstrap-4.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/crucigrama.css" />
  </head>
  <body>
    <h1>CRUCIGRAMA MAGACINE</h1>
    <div class="containerCrucigrama row">
      <div class="player1" id="DivPlayer1">
        <h2>Jugador #1</h2>
        <h3 id="turnoPlayer1"></h3>
        <h3 id="titleplayer1"></h3>
        <h4>Puntos</h4>
        <input class="inp-points" id="inp-points1" type="number" readonly />
      </div>
      <table id="tablaCrucigrama"></table>
      <div class="player2" id="DivPlayer2">
        <h2>Jugador #2</h2>
        <h3 id="turnoPlayer2"></h3>
        <h3 id="titleplayer2"></h3>
        <h4>Puntos</h4>
        <input class="inp-points" id="inp-points2" type="number" readonly />
      </div>
    </div>

    <!-- seccion de las pistas -->
    <section class="box row">
    
    </section>

    <div class="btn-regresar">
      <button class="nav-link btn btn-dark" id="btn-regresar" type="button">
        Regresar
      </button>
      <button class="btn-doc btn btn-dark" id="btn-comojugar" type="button">
      <span> COMO JUGAR</span> 
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/crucigrama.js"></script>
  </body>
</html>
