@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

body {
  background: linear-gradient(to right, #000000, #333333);
  height: 90vh;
  margin: 0;
  color: white;
  
}

.containerCrucigrama {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start; /* Cambiado a flex-start para alinear en la parte superior */
  height: 60%;
}

.player1,
.player2,
#tablaCrucigrama {
  flex: 1;
  margin: 15px;
}

h1,
.player1,
.player2 {
  font-family: "Kalam", cursive;
  padding: 10px;
  border-radius: 10px;
}
h1 {
height: 2%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.inp-points {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.box {
    height: 25%;
  display: flex;
  animation: rotar 15s linear infinite;
}

/* Esconder la última imagen */
.box span:last-child {
  display: none;
}

.box .image-container img {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: 200px; /* Ajusta el tamaño según sea necesario */
  object-fit: contain;
  margin-right: 10px;
}
@keyframes rotar {
    0% {
        transform: translateX(0);
      }
    
      100% { 
        transform: translateX(-100%);
      }
}

.btn-regresar {
    position: absolute;
  width: 100%;
  bottom: 10px;
  left: 10px;
}

.btn-regresar button {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: brown;
}

/* Media Query para pantallas medianas */
@media only screen and (max-width: 768px) {
    .box {
        width: 100%;
    }

    .image-container img {
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: 150px; /* Ajusta el tamaño según sea necesario */
    }
}

/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 480px) {
    .box {
        width: 100%;
    }

    .image-container img {
        width: 100px; /* Ajusta el tamaño según sea necesario */
        height: 100px; /* Ajusta el tamaño según sea necesario */
    }
}