@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Kalam:wght@300&family=Montserrat:wght@100;200&display=swap");

body {
  background-color: #080f28;
  width: 98%;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
}
nav {
  background: linear-gradient(to right, #141a32, #05022e);
  color: #fdfefe;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar-brand {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.nav-link {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.register-users {
  color: #fdfefe;
}
.container {
  padding: 10px;
  background: linear-gradient(to right, #080f28, #01061a);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #080f28;
  margin-top: 20px;
  border-radius: 10px;
}

#revista {
  color: #fdfefe;
  font-weight: bold;
}

.card,
.card-title,
.card-anio,
.card-director {
  color: #000;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.nav-registrar a{
  height: 100%;
}

.navbar-peliculas{
  text-decoration: none;
  color: #fdfefe;
}