@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Kalam:wght@300&family=Montserrat:wght@100;200&display=swap");

body {
  background-color: #080f28;
  width: 98%;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Kalam", cursive;
  font-family: "Montserrat", sans-serif;
}

.row {
  padding: 10px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #080f28, #01061a);
  box-shadow: 0 0 20px rgba(38, 12, 109, 0.8);
}

.row h2{
  color: #fdfefe;
  font-weight: bold;
}

.container {
  padding: 20px;
  background: linear-gradient(to right, #080f28, #01061a);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(17, 13, 128, 0.8);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.title-registro {
  color: white;
  font-size: 30rem;
}
#btn-adicionar {
  background-color: rgba(33, 71, 128, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
h3{
  color: #fdfefe;
  font-weight: bold;
}
.btn-regresar {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#btn-adicionar:hover {
  transform: scale(1.06);
}

form input{
  color: black;
  font-weight: bold;
}

.success {
  border: 3px solid rgb(9, 204, 9);
}

.error {
  border: 4px solid rgb(255, 8, 0);
}

.form-group {
  margin: 5px;
}

.form-inline .form-control {
  width: 350px;
}

.form-inline {
  justify-content: center;
  text-align: center;
}

.title-registro,
.boton-adicionar {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

ul {
  color: #fbfcfc;
  font-weight: bold;
}
